<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="yandex-verification" content="14bedc666b445cc6" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Продажа щебня, купить щебень, доставка щебня, продажа щебня с доставкой, гранитный щебень, габбродиабаз щебень, щебень, петрозаводск, карелия, москва, московская область">
    <meta name="author" content="Торговый Дом Щебень Карелии">
    <meta name="description" content="Продажа щебня лучшего качества с доставкой по России в кратчайшие сроки">

    <title>Продажа щебня с доставкой.</title>

    <!-- Bootstrap Core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="/bower_components/ngGallery/src/css/screen.css" rel="stylesheet" type="text/css">
    <link href="/bower_components/ngGallery/src/css/ngGallery.css" rel="stylesheet" type="text/css">
    <!--Font awesome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/css/mystyle.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-ng-app="myApp">
<!-- Intro Header -->
<div itemscope itemtype="http://schema.org/Organization">
    <header class="intro">
        <div id="header" class="intro-body left">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Осуществление поставок щебня высокого качества с предприятий северо- западного федерального округа железнодорожным транспортом</h1>
                        <a href="/#feedback-anchor" class="btn btn-feedback">Направить заявку</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Navigation -->
    <nav class="navbar navbar-default" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top" aria-expanded="false">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#header">
                    <img alt="Щебень Карелии" itemprop="logo" src="/img/logo-scheben.png">Щебень Карелии
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-top">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="active" href="#about">О компании</a></li>
                    <li><a href="/production">Продукция</a></li>
                    <li><a href="/news">Новости</a></li>
                    <!--<li><a href="/contacts">Контакты</a></li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<!-- About Section -->
<section id="about" class="container first-section content-section text-justify" itemscope itemtype="http://schema.org/WebPage">
    <div class="row">
        <div class="col-md-8">
            <div class="text-header">
                <h2 itemprop="about">Поставка щебня</h2>
                <link itemprop="url" href="http://nerudtrade.ru">
            </div>
            <div class="colomn">
                <div class="colomn-header">
                    <!--Наше конкурентрое преимущество – мы гарантировано осуществим Вам продажу щебня с доставкой в кратчайшие сроки благодаря наличию надежных договорных отношений с поставщиками и компаниями-собственниками вагонов.-->
                    Компания осуществляет поставки нерудных строительных материалов, щебня в необходимых объемах и согласованные сроки железнодорожным транспортом из Республики Карелия и Ленинградской области.
                </div>
                <div class="polosa"></div>
            </div>
            <!--<div class="colomn">-->
                <!--<div class="colomn-header">-->
                    <!--&lt;!&ndash;Нами осуществляется постоянный мониторинг цен на щебень и его наличия у всех производителей на территории Республики Карелия, Ленинградской области и Республики Беларусь, чтобы всегда предоставлять только самую актуальную информацию своим клиентам.&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="polosa"></div>-->
            <!--</div>-->
        </div>
        <div class="col-md-4">
            <br />
            <img src="/img/scheben3.jpg" class="col-md-12" alt="Продажа щебня">
        </div>
    </div>
</section>

<section id="fractions" class="container content-section">
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Щебень гранитный</h2>
            <p>фр. 0-5, фр. 3-10, фр. 5-10, фр. 5-20, фр. 20-40, фр. 25-60, фр. 40-70, фр. 0-40, фр. 0-80</p>
        </div>
        <div class="col-md-6 text-center">
            <h2>Щебень из пород габбро</h2>
            <p>фр. 0-5, фр. 2,5-5, фр. 5-10, фр. 5-15, фр. 5-20, фр. 10-15, фр. 10-20, фр. 15-20, фр. 20-40, фр. 25-60, фр. 40-70, фр. 70-120, камень бутовый фр. 70-120, камень бутовый фр. 100-250, ЩПС 0-40, ЩПС 0-80</p>
        </div>
    </div>
</section>

<section id="production" class="container content-section">
    <div class="row">
        <div class="col-md-12">
            <h2>Наша компания работает со всеми щебеночными карьерами на территории Республики Карелии и Ленинградской области, а также с крупнейшим производителем Республики Беларусь.</h2>
        </div>
        <div class="col-md-12 text-justify">
            <ul>
                <li>ООО «ЕСГ-Диабаз» (ст. Кяппесельга)</li>
                <li>ООО «Карелприродресурс» (ст. Леппясюрья, Райконкоски, Пяжиева Сельга, Кааламо)</li>
                <li>ОАО «Карьероуправление «Мосавтодор» (ст. Питкяранта)</li>
                <li>ООО «Питкярантское карьероуправление», (ст. Питкяранта)</li>
                <li>ЗАО «Карьер Коккомяки» (ст. Кааламо)</li>
                <li>ЗАО «КП-Габбро» (ст. Новый Поселок)</li>
                <li>ООО «Лобское-5» (ст. Пергуба)</li>
                <li>ОАО «Порфирит» (ст. Нигозеро)</li>
                <li>ООО «Корунд» (ст. Вичка)</li>
                <li>ОАО «Сортавальский ДСЗ» (ст. Хелюля)</li>
                <li>ООО «Олимп» (ст. Ляскеля)</li>
                <li>ООО «Онежские карьеры» (ст. Деревянка)</li>
                <li>ООО «Яккимо» (ст. Кааламо)</li>
                <li>ООО «Прионежская горная компания» (ст. Падозеро)</li>
                <li>ООО «Железная Гора» (ст. Пяжиева Сельга)</li>
                <li>ООО «Сунский карьер» (ст. Заделье)</li>
                <li>ООО «ТД гранит Логистик» (ст. Вичка)</li>
                <li>ООО «Финансбюро» (ст. Лахколамен)</li>
                <li>ЗАО «ЛСР-базовые» (ст. Кузнечное, Пруды, Боровинка)</li>
                <li>АО «Ленстройкомплектация» (ст. Каменногорск, Боровинка)</li>
                <li>ООО «Гранит» (ст. Яккима-2)</li>
                <li>ООО «Гранит» (ст. Красный Сокол)</li>
                <li>ООО «Лафарж Нерудные материалы и Бетон» (ст. Деревянка)</li>
                <li>ООО промышленная группа «Диабаз» (ст. Кяппесельга)</li>
                <li>ЗАО «Выборгское карьероуправление» (ст. Таммисуо)</li>
                <li>РУПП «ГРАНИТ» (ст. Ситница)</li>
            </ul>
        </div>
    </div>
</section>

<section id="contacts" class="content-section container" data-ng-controller="MyCtrl1">
    <div id="feedback-anchor"></div>
    <div class="row">
        <div class="col-md-6">
            <h2>Контакты
                <p><small>Головной офис в Петрозаводске:</small></p>
            </h2>
            <h4>
                <i class="fa fa-phone"></i>
                8 (8142) 59 40 70
            </h4>
            <h4>
                <i class="fa fa-fax"></i>
                8 (8142) 59 40 71
            </h4>
            <h4>
                <i class="fa fa-at"></i>
                <a href="mailto:office@pntrans.info">office@pntrans.info</a>
            </h4>
            <h4>
                <i class="fa fa-envelope-o"></i>
                185031, Республика Карелия, город Петрозаводск, набережная Варкауса, дом 29, корпус 1
            </h4>
            <div class="red">
                <a data-toggle="modal" data-target="#map-ptz-modal">Расположение офиса на карте города</a>
            </div>

            <!--<h2>-->
                <!--<p><small>Офис представительства в Москве:</small></p>-->
            <!--</h2>-->
            <!--<h4>-->
                <!--<i class="fa fa-phone"></i>-->
                <!--8 (499) 763 32 42-->
            <!--</h4>-->
            <!--<h4>-->
                <!--<i class="fa fa-at"></i>-->
                <!--<a href="mailto:office@nerudtrade.ru">moscow@pntrans.info</a>-->
            <!--</h4>-->
            <!--<h4>-->
                <!--<i class="fa fa-envelope-o"></i>-->
                <!--107078, Москва, Басманный переулок, дом 7, офис 19 <br>(метро Красные ворота, Комсомольская, Бауманская)-->
            <!--</h4>-->
            <!--<div class="red">-->
                <!--<a data-toggle="modal" data-target="#map-msk-modal">Расположение офиса на карте города</a>-->
            <!--</div>-->
        </div>

        <form class="col-md-6 left contact-form" id="feedback">
            <div ng-if="!sending">
                <h3>Направить заявку</h3>
                <div class="form-group label-floating">
                    <label for="inputName"
                           class="control-label">
                        Название организации и контактное лицо*
                    </label>
                    <input type="text"
                           data-ng-model="formInfo.name"
                           class="form-control"
                           id="inputName"
                           required
                    >
                </div>
                <div class="form-group label-floating">
                    <label for="inputEmail"
                           class="control-label">
                        Email*
                    </label>
                    <input type="email"
                           data-ng-model="formInfo.email"
                           class="form-control"
                           id="inputEmail"
                           required
                    >
                </div>
                <div class="form-group label-floating">
                    <label for="inputPhone"
                           class="control-label">
                        Телефон*
                    </label>
                    <input type="phone"
                           data-ng-model="formInfo.phone"
                           class="form-control"
                           id="inputPhone"
                           required
                    >
                </div>
                <div class="form-group label-floating">
                    <label for="inputText3"
                           class="control-label">
                        Сообщение
                    </label>
                    <textarea data-ng-model="formInfo.text"
                              class="form-control"
                              id="inputText3"
                              placeholder="Порода щебня, фракция, группа лещадности, объем, станция назначения, срок поставки">
                    </textarea>
                </div>
                <div class="text-center">
                    <button type="submit"
                            data-ng-disabled="!formInfo.name || !formInfo.phone || !formInfo.email || !formInfo.text"
                            data-ng-click="sendEmail()"
                            class="btn btn-default">Отправить</button>
                </div>
            </div>
            <div class="spinner" ng-if="sending">
                <div class="spinner" ng-if="sended">
                    <h2>Ваше сообщение отправлено!</h2>
                </div>
                <i ng-if="sending && !sended" class="fa fa-refresh fa-spin fa-3x fa-fw" aria-hidden="true"></i>
                <span class="sr-only">Отправляем...</span>
            </div>
        </form>
    </div>
</section>

<section class="container partners">
    <h2 class="text-center">Доставка щебня</h2>
    <div class="col-md-12 text-justify">
        Для доставки щебня  Торговый дом "Щебень Карелии"
        тесно взаимодействует с транспортно-логистической компанией
        <strong>ООО "Промнерудтранс"</strong>,
        специализирующейся на привлечении вагонного парка и организации
        железнодорожных перевозок щебня с предприятий Республики Карелия.
    </div>
    <div class="col-md-12 text-justify">
        Торговый дом "Щебень Карелии" осуществляет гарантированную поставку щебня с доставкой в рекордные сроки.
    </div>
    <br />
    <br />
    <br />
</section>



<div class="modal fade" id="map-ptz-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Расположение на карте города</h4>
            </div>
            <div class="modal-body">
                <div id="map-ptz">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3AIA2oFqidUSGrMPTYG2Dkw2LW2onZylZr&amp;width=100%25&amp;height=488&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="map-msk-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Расположение на карте города</h4>
            </div>
            <div class="modal-body">
                <div id="map-msk">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6656f6d4c4abf2fd3987b096a1e87e074559d2a1d635bba2da0195d532316b2c&amp;width=100%25&amp;height=488&amp;lang=ru_RU&amp;scroll=true"></script>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<!--<footer class="footer">-->
    <!--<section class="content-section container footer-section">-->
        <!--<h3>Торговый Дом "Щебень Карелии"</h3>-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 company">-->
                <!--<h4>Головной офис в Петрозаводске:</h4>-->
                <!--<address>-->
                    <!--<p>185031 Республика Карелия, г. Петрозаводск, наб. Варкауса, д. 29, корп. 1</p>-->
                    <!--<p>Тел.: (8142) 59-40-70</p>-->
                    <!--<p>Факс.: (8142) 59-40-71</p>-->
                    <!--<p>Email: <a href="mailto:office@nerudtrade.ru">office@nerudtrade.ru</a></p>-->
                <!--</address>-->
                <!--<div class="red">-->
                    <!--<a data-toggle="modal" data-target="#map-ptz-modal">Расположение офиса на карте города</a>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-6 company">-->
                <!--<h4>Офис в Москве:</h4>-->
                <!--<address>-->
                    <!--<p>107078, Москва, Басманный переулок, дом 7 офис 19 (метро  Красные ворота, Комсомольская, Бауманская)</p>-->
                    <!--<p>Тел.: (499) 763 32 42</p>-->
                    <!--<p>Email: <a href="mailto:moscow@pntrans.info">moscow@pntrans.info</a></p>-->
                <!--</address>-->
                <!--<div class="red">-->
                    <!--<a data-toggle="modal" data-target="#map-msk-modal">Расположение офиса на карте города</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
    <!--<div class="container text-center lower">-->
        <!--<p>Компания Торговый Дом "Щебень Карелии"&copy; 2016</p>-->
    <!--</div>-->
<!--</footer>-->

<!-- Custom Theme JavaScript -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/js/angular.min.js" type="text/javascript"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/bower_components/ngGallery/src/js/ngGallery.js"></script>
<script src="/js/myscript.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter39723415 = new Ya.Metrika({
                    id:39723415,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/39723415" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</body>

</html>
